* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: 0 auto;
}

header {
    background-image:url(./src/assets/plateia.jpg);
    background-position: 50% 40%;
    height: 15vh;
    top: 0;
    position: sticky;
}

.nav-item {
    list-style: none;
    color: white;
    font-size: 32px;
    display: flex;
    margin: 2em;
    font-family: 'Uchen', serif;
}

.nav {
    width: 60vw;
    display: flex;
    height: 15vh;
    margin: 0 auto;
}


.footer-item {
    list-style: none;
    color: white;
    font-size: 16px;
    width: 12vw;
    background-color: black;
    padding-top: 1em;
    margin: 0 auto; 
}

article {
    display: flex;
    width: 40vw;
    height: 70vh;
    margin-right: 2em;
    text-align: justify;
    flex-direction: column;
}

main {
    margin: 3em;
    display: flex;
    flex-direction: row;
}

p {
    font-family: 'Uchen', serif;
    margin-top: 2em;
    text-indent: 2em;
}

.teatro {
    width: 40vw;
    height: 552px;
}

.trupe {
    width: 30vw;
    height: 552px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Uchen', serif;
}

aside {
    text-align: justify;
    display: flex;
    width: 30vw;
    flex-direction: column;
}

footer {
    background-color: black;
    height: 15vh;
    font-family: 'Uchen', serif;
}


@media only screen and (max-width: 760px) {
    body {
        width: 100%;
    }

    nav {
        height: 20vh;
    }

    header {
        height: 20vh;
        top: 0;
        position: sticky;
    }

    .nav-item {
        list-style: none;
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: center;
        margin: 0.5em;
        font-family: 'Uchen', serif;
    }
    
    .nav {
        width: 60vw;
        display: flex;
        height: 20vh;
        margin: 0 auto;
        flex-direction: column;
    }

    main {
        flex-direction: column;
        height: 270vh;
        width: 100%;
    }
    
    article {
        height: 150vh;
        width: 80%;
    }

    aside {
        height: 150vh;
        width: 80%;
    }

    figure, .teatro, .trupe {
        width: 80vw;
    }

    .footer-item {
        width: 90VW;
    }

    footer {
        height: 40vw;
        display: flex;
        text-align: center;
    }
}